/* 
dark button
light blue input fieldset
clear button light outline
clear button 
*/


.btn {
	font-weight: 800;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 1.63px;


}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
	cursor: pointer;
}


/* 
imported style from figma//
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #000000; 
*/