<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./buttons.css">
  <title>Buttons</title>
</head>
<body>
  
<div class="btn btn-lt">
  <a href="">clear wht</a>
</div>
<div class="btn btn-bl">
  <a href="">light blue </a>
</div>
<div class="btn btn-sm">
  <a href="">clr btn sm</a>
</div>
<div class="btn btn-sm btn-dark">
  <a href="">dark btn</a>
</div>
<div class="btn">
  <a href="">clear btn lg</a>
</div>
<div class="btn btn-lt">
  <a href="">contact us</a>
</div>
<div class="btn btn-bl">
  <a href="">learn more</a>
</div>
<div class="btn btn-sm">
  <a href="">sign up</a>
</div>
<div class="btn btn-sm btn-dark">
  <a href="">sign up</a>
</div>
<div class="btn">
  <a href="">lets talk</a>
</div>



</body>
</html>