.hero-background{
    background-image: url(/BaseCamp-LandingPage/assets/home-page/Typing_Home_Page.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-header{

}
.hero-sub-head{

}
.hero-btn{

}